@font-face
  font-family: digital
  src: url("../../fonts/digital.ttf")

.time
  height: 300px
  width: 90%
  margin: 0 auto
  border: 10px dashed blue
  background-color: #000
  display: flex
  justify-content: center
  align-items: center

  #time
    font-size: 300px
    font-family: digital
    color: green
